.pricing{
  background-color: #4b3b4e;
  color: $main-text-color;
  text-align: center;
  padding-bottom: 13px;
  @include respond-to('small-landscape'){
    background: url("../images/pricing-bg2.min.png"), linear-gradient(#4b3b4e,#4b3b4e);
    background-position: center;
    background-size: cover;
    padding: 88px 0 94px;
  }
  @include respond-to ('medium') {
    padding: 112px 0 80px;
  }
  &__title{
    font-weight: $bolt-font-weight;
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 42px;
    @include respond-to('small-landscape'){
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 39px;
    }

    @include respond-to ('medium') {
      margin-bottom: 61px;
    }
  }
  &__item-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 18px;
    @include respond-to('small-landscape') {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
      column-gap: 2%;
      justify-items: start;
      align-items: center;
    }    
    @include respond-to ('medium') {
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      column-gap: 0;
    }
  }
  &__item{
    width: 92%;
    background-color: rgba(255, 255, 255, 0.11);
    background-blend-mode: lighten;
    margin: 0 auto;
    @include respond-to('small-landscape'){
      max-width: 257px;
      margin: 0;
    }
    &:first-child {
      @include respond-to('small-landscape'){
        align-self: stretch;
        justify-self: self-end;
      }
      @include respond-to ('medium') {
        align-self: center;
      }
    }
    &--active{
      background-color: rgba(70, 48, 72, 0.84);     
      width: 100%;
      @include respond-to('small-landscape'){
        max-width: 299px;
        justify-self: self-end;
      }
    }  

  }
  
  &__item-title{
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: rgba(255, 255, 255, 0.06);
    background-blend-mode: lighten;
    &--active {
      background-color: rgba(0, 0, 0, 0.11);
      background-blend-mode: darken;
      padding: 43px 0;
    }
  }
  &__item-price{
    font-size: 60px;
    line-height: 62px;
    font-weight: $bolt-font-weight;
    margin-top: 30px;
    margin-bottom: 20px;
    &--active{
      margin-top: 14px;
      margin-bottom: 16px;
      font-size: 82px;
      line-height: 84px;
    }
  }
  &__item-price-icon{
    font-size: 60px;
    line-height: 62px;
    font-weight: $regular-font-weight;
  }
  &__item-period{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__separator{
    background-color: #8D81AC;
    height: 5px;
    width: 60px;
    margin: 38px auto 30px;
    &--active{
        margin: 46px auto 40px;
      }
  }
  &__item-terms{
    font-size: 16px;
    line-height: 28px;
    color: $main-text-color;
    font-family:$main-font ;
    text-align: center;
    margin-bottom: 37px;
    &--active{
      line-height: 32px;
      margin-bottom: 83px;
    }
    &--change-margin {
      
      @include respond-to('small-landscape'){
        margin-bottom: 62px;
      }
    }
  }
  &__main-btn {
    color: $main-text-color;
    text-transform: uppercase;
    padding: 15px 37px;
    font-weight: $regular-font-weight;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: lighten;
    margin-bottom: 37px;
    &--active {
      margin-bottom: 47px;
    }
  }

}