.pricing{
  background-color: #4b3b4e;
  @include respond-to('small-landscape'){
    background: url("dist/images/pricing-bg.min.png"), linear-gradient(#4b3b4e,#4b3b4e) ;
  }
  &__title{
    font-family:$main-font ;
    font-weight: $bolt-font-weight;
    color: $main-text-color;
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
  }
  &__pricing__item-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    @include respond-to('small-landscape') {
      display: grid;
      grid-template-columns: 1fr 1fr!important;
      grid-template-rows: auto auto!important;
      grid-column-gap: 0;
      grid-row-gap: 37px;
      width: 95%;
    }

  }
  &__item{
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 257px;
    height: 457px;
    background-color: rgba(255,255,255,.11);
    margin-bottom: 18px!important;
    margin: 0 auto;
    &--active{
      background-color: rgba(63,50,65,.84);
      width: 299px;
      height: 560px;
    }
    @include respond-to('small-landscape'){
      margin-bottom: 0!important;
    }

  }
  &__item-title{
    font-family: $main-font;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $main-text-color;
    text-transform: uppercase;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: rgba(255,255,255,.06);

  }
  &__item-price{
    color: $main-text-color;
    font-size: 60px;
    line-height: 62px;
    font-family:$main-font ;
    font-weight: $bolt-font-weight;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    &--active{
      font-size: 82px;
      line-height: 84px;
    }
  }
  &__item-price-icon{
    color: $main-text-color;
    font-size: 60px;
    line-height: 62px;
    font-family:$main-font ;
    font-weight: $regular-font-weight;
  }
  &__item-period{
    font-size: 14px;
    line-height: 16px;
    color: $main-text-color;
    font-family:$main-font ;
    text-align: center;
    text-transform: uppercase;
    &--active{
      margin-bottom: 46px;
    }

  }
  &__item-period:after{
    content: "";
    background-color: #8D81AC;
    height: 5px;
    width: 60px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 38px;
  }
  &__item-terms{
    font-size: 16px;
    line-height: 18px;
    color: $main-text-color;
    font-family:$main-font ;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 37px;
    &--active{
      line-height: 32px;
      margin-bottom: 83px;
    }
  }
  &__item-btn{
    border: 1px solid transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    //text-align: center;
    //align-items: center;
    text-transform: uppercase;
    color: $main-text-color;
    text-decoration: none;
    //justify-content: center;
    background-color: rgba(255,255,255,.06);
    padding: 15px 37px;
    margin-left: 47px;
    &--active{
      margin-left: 65px;
    }
  }

}